body {
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #444;
}

/* @font-face { 
  font-family: 'OpenSans-Regular'; 
  src: local(OpenSans-Regular), url(fonts/OpenSans-Regular.ttf);
  font-weight: normal; 
  font-style: normal; 
} */

table {
  border: 2px solid #42b983;
  border-radius: 3px;
  background-color: #fff;
  /* min-width: 400px; */
}

th {
  background-color: #42b983;
  color: rgba(255,255,255,0.66);
  cursor: pointer;
  text-align: center;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

td {
  background-color: #f9f9f9;
  /* border: 4px red; */
}

th, td {
  min-width: 80px;
  padding: 10px 10px;
}

th.active {
  color: #fff;
}

th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}
#demo {
 max-width: 400px;
  width: 400px;
}
#divBtn {
  display: block;
  /* flex-flow: row wrap; */
  justify-items : center;
  align-content: center;
  align-items: center;
  justify-content: center;
}