<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ИНН для ТеррБанка</title>
  <link rel="shortcut icon" href="/60x60bb.ico" type="image/x-icon">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/main.css">
  <script src="/vue.min.js"></script>
  <script src="/script.js" defer></script>
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top">
    <a class="navbar-brand" href="https://www.sberbank.ru/ru/s_m_business" blank>
    <img src="/ico_sb.png" width="40" height="40" alt="">
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    
  </div>
</nav>
  <br><br><br>

<!-- component template -->
<script type="text/x-template" id="grid-template">
  <table>
    <thead>
      <tr>
        <th v-for="key in columns"
          @click="sortBy(key)"
          :class="{ active: sortKey == key }">
          {{ key | capitalize }}
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in filteredData">
        <td v-for="key in columns">
          {{entry[key]}}
        </td>
      </tr>
    </tbody>
  </table>
</script>

<!-- demo root element -->
<div class="container">
    <div id="demo" class="row">

      <div class="m-5 form-group">
          <form id="search">
            <label for="exampleInputEmail1">Найти</label> 
            <input name="query" v-model="searchQuery"  class="form-control">
            <small id="" class="form-text text-muted">Введите первые 2 цифры ИНН</small>
          </form>
          <div>
            
          </div>
      </div>

      <demo-grid class="m-4"
        :data="gridData"
        :columns="gridColumns"
        :filter-key="searchQuery">
      </demo-grid>
    </div>
</div>



</body>
</html>
